# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL='https://pemzbcxfdlpscpnzbscl.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlbXpiY3hmZGxwc2Nwbnpic2NsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYzMjk1NjYsImV4cCI6MjA4MTkwNTU2Nn0.REvT594e-J1ktQcDcyzj8Y4gL0Xow9usU2MSGhy2kj8'

# OCR Configuration (optional - for cloud OCR services)
GOOGLE_CLOUD_VISION_API_KEY=
AWS_TEXTRACT_ACCESS_KEY=
AWS_TEXTRACT_SECRET_KEY=
AWS_TEXTRACT_REGION=

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
